@import "normalize.css";
@import "reset.css";

* {
    box-sizing: border-box
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 163px;
    background: #FFFFFF;
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px 0;
}

.logo {
    width: 229px;
}

.logo > img {
    width: 100%;
    height: auto;
}

.caption {
    width: 375px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3A4047;
}

.personalArea {
    width: 129px;
    padding-top: 5px;
}

.personalArea > a {
    font-size: 14px;
    line-height: 16px;
    color: #3A4047;
}

.blablabla {
    width: 177px;
    padding-top: 5px;
    position: relative;
}

.bla {
    padding-bottom: 20px;
}

.bla > a {
    font-size: 14px;
    line-height: 16px;
    color: #3A4047;
}

.shape__img {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0px;
    top: 12px;
}

.shape__img > img {
    width: 100%;
    height: 100%;
}

.shape__img--radius {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #1AB0CE;
}

.mobile {
    position: relative;
    width: 130px;
    height: 21px;
    padding: 3px 0;
}

.mobile__icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: -61px;
    width: 50px;
    height: 20px;
}

.mobile__icon > img:nth-child(2n-1) {
    width: 11px;
    height: 20px;
}

.mobile__icon > img:nth-child(3n-1) {
    width: 20px;
    height: 20px;
}

.mobileDropDown {
    position: absolute;
    right: 0;
    top: 0;

    width: 20px;
    height: 20px;
    background: #EDEDED;
    border-radius: 50px;
}

hr {
    background: #FFFFFF;
}

.caption > span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #3A4047;
}

.nav__menu {
    padding: 9px 0;
}

.menu__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list__item {

}

.list__item > a {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #3A4047;
}