@import "normalize.css";
@import "reset.css";

* {
    box-sizing: border-box
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 163px;
    background: #FFFFFF;
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px 0;
}

.logo {
    width: 229px;
}

.logo > img {
    width: 100%;
    height: auto;
}

.caption {
    width: 375px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3A4047;
}

.personalArea {
    width: 129px;
    padding-top: 5px;
}

.personalArea > a {
    font-size: 14px;
    line-height: 16px;
    color: #3A4047;
}

.blablabla {
    width: 177px;
    padding-top: 5px;
    position: relative;
}

.bla {
    padding-bottom: 20px;
}

.bla > a {
    font-size: 14px;
    line-height: 16px;
    color: #3A4047;
}

.shape__img {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0px;
    top: 12px;
}

.shape__img > img {
    width: 100%;
    height: 100%;
}

.shape__img--radius {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #1AB0CE;
}

.mobile {
    position: relative;
    width: 130px;
    height: 21px;
    padding: 3px 0;
}

.mobile__icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: -61px;
    width: 50px;
    height: 20px;
}

.mobile__icon > img:nth-child(2n-1) {
    width: 11px;
    height: 20px;
}

.mobile__icon > img:nth-child(3n-1) {
    width: 20px;
    height: 20px;
}

.mobileDropDown {
    position: absolute;
    right: 0;
    top: 0;

    width: 20px;
    height: 20px;
    background: #EDEDED;
    border-radius: 50px;
}

hr {
    background: #FFFFFF;
}

.caption > span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #3A4047;
}

.nav__menu {
    padding: 9px 0;
}

.menu__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list__item {

}

.list__item > a {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #3A4047;
}


/* -- main --*/

.front__page{
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 153px;

}
.title__page{
    padding-bottom: 10px;
}
.line__center{
    border: 1px solid #FFFFFF;
    width: 120px;
    margin: 0 auto;
}
.title__page>h1{
    font-size: 57px;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
}
.subtitle__page {
    padding-top: 15px;
    padding-bottom: 27px;
}
.subtitle__page>h2{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn>button{
    background: #1AB0CE;
    border-radius: 2px;
    width: 200px;
    height: 48px;
    border: none;

    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.production__page{
    background: #FFFFFF;
    padding-top: 29px;
    padding-bottom: 49px;
}
.wrapper:nth-child(2n-1){
    padding-bottom: 32px;
}
.wrapper:nth-child(3n-2){
    padding-bottom: 46px;
}
.block__title>h2{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #3A4047;
}
.block__text{
    padding-top: 13px;
}
.block__text>h3{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #3A4047;
    padding-bottom: 34px;
}
.block__text>p{
    font-size: 14px;
    line-height: 16px;
    color: #3A4047;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.box__production{
    width: 370px;
    height: 291px;
    border: 1px solid #DCE1E6;
    padding: 25px 28px 26px 120px;
    position: relative;
}
.box__production>img{
    position: absolute;
    top: 29px;
    left: 25px;
}
.box__production>h4{
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    align-items: center;
    text-transform: uppercase;
    color: #3A4047;
    padding-bottom: 24px;
}
.double__items{
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.items{
    height: calc(100% - 75px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.items--sidebar{
    padding-right: 25px;
}
.item{
}
.item>a{
    font-size: 14px;
    line-height: 16px;
    color: #3A4047;
}
.block__news{
    padding: 29px 18px 31px 14px;
}
.block__news>span{
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #BEC7D1;
    padding-bottom: 14px;
}
.block__news>p{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1AB0CE;
}
.button__wrapper{
    display: flex;
    justify-content: center;
    padding-top: 51px;
}
.button__wrapper>button{
    background: #FFFFFF;
    border: 1px solid #1AB0CE;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1AB0CE;
    padding: 6px 21px;
}
/* -- footer -- */

footer{
    background: url(../images/bg-footer.png), #F7F7F7;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
    height: 159px;
}
.container--position{
    height: 100%;
    position: relative;
}
.copy{
    position: absolute;
    bottom: 32px;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    color: #3A4047;
}
.caption__footer{
    width: 261px;
}
.caption__footer>h4{
    font-size: 16px;
    line-height: 19px;
    color: #3A4047;
    padding-bottom: 18px;
}
.caption__footer>span{
    font-size: 14px;
    line-height: 16px;
    color: #3A4047;
    padding-top: 18px;
}
.footer__menu{
    width: 325px;
    display: flex;
}
.menu__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu__list:nth-child(2n){
    padding-left: 67px;
}

.foot{
    position: absolute;
    right: 0;
    bottom: 24px;
}
.foot>span{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #3A4047;
}